# MySql
MYSQL_ROOT_PASSWORD=root
MYSQL_HOST=mysql
MYSQL_DATABASE=ott_platform
MYSQL_USER=ott_user
MYSQL_PASSWORD=secret

# Octane
OCTANE_WORKERS=4
OCTANE_TASK_WORKERS=6

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

